<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <script type="module" src="{{url_for('static', filename='js/model.js')}}"></script>
    <form id="modelForm" class="Form" method="post" onsubmit="">
        <input class="textField" type="text" name="modelInput" placeholder=""></input><br/><br/>
        <div id="modelError" class="FormError" style="color:red; font-size: 10px"></div><br/>
        <input class="Submit" id="modelSubmit" type="submit" name="modelSubmit" value="отправить"></input>
        <div id="modelOutput"></div>
    </form>
    <div id="history">
        {% for record in records %}
            <div class="record">{{ record['record_date'] }} {{ record["input"] }} {{ record["text"] }} {{ record["model_answer"] }}</div>
        {% endfor %}
    </div>
</body>
</html>